<div class="links-container" style="max-height: 100%;">
    <div class="social-row">
        <a href="https://instagram.com/esseral.ca" target="_blank" rel="noopener" aria-label="Instagram" class="social-btn">
            <img src="assets/images/instagram_logo.webp" alt="Instagram" style="width: 65%; height: 65%;" class="social-icon">            
        </a>
        <a href="https://esseral.ca" aria-label="Logo" class="logo-link">
            <img src="assets/images/Logo secondaire/Logo_Esseral_secondaire_gradient.png" alt="Logo" class="logo-img">
        </a>
        <a href="https://www.linkedin.com/company/esseral/posts/" target="_blank" rel="noopener" aria-label="LinkedIn" class="social-btn">
            <img src="assets/images/linkedin_logo.webp" alt="LinkedIn" style="width: 108%; height: 108%;" class="social-icon">
        </a>
    </div>
    <div class="slogan">
        <p>Révelez votre essence. Brillez avec ce qui vous rend unique.</p>
        <hr>
        <p>Revela tu esencia. Brilla con lo que te hace únic&#64;.</p>
    </div>
    <img src="assets/images/Assets_Esseral2.png" alt="color splash1"  class="splash-img">
    <img src="assets/images/Assets_Esseral2.png" alt="color splash2"  class="splash-img2">
</div>

