.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.social-row {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 45px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    width: 135px;
    height: 135px;
    transition: box-shadow 0.6s, transform 0.4s;
    text-decoration: none;
}

.social-btn:hover {
    box-shadow: 0 4px 36px #AA3DA7;
    transform: scale(1.05);
}

.social-icon {
    width: 86px;
    height: 86px;
    object-fit: contain;
    display: block;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    transition: transform 0.6s;
}

.logo-link:hover {    
    transform: scale(1.12);
}

.logo-img {
    height: 320px;
    width: auto;
    display: block;
}

.slogan {
    max-width: 320px;
    text-align: center;
    font-size: 1.2rem;
    color: #444;
    margin: 0 auto;
    position: relative;
}

/* Responsive styles */
@media (max-width: 600px) {
    .social-row {
        gap: 25px;
    }
    .social-btn {
        width: 60px;
        height: 60px;
    }

    .logo-img {
        height: 130px;
    }
    .slogan {
        font-size: 1rem;
    }
}

.slogan hr {
    width: calc(100% + 40px);
    max-width: 380px;
    margin: 20px -20px;
    border: none;
    height: 6px;
    background: linear-gradient(90deg, #5149C9 0%, #B818C9 25%, #cc3634 50%, #CC6637  75%, #B818C9 100%);
    opacity: 0.85;
    display: block;
    clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.splash-img {
    position: fixed;
    left: -600px;    /* Negative value to peek out */
    bottom: -600px;  /* Negative value to peek out */
    width: 82vw;    /* Responsive size */
    z-index: 0;
    pointer-events: none;
    user-select: none;
    animation: pulse 9s infinite;
}

.splash-img2 {
    position: fixed;
    right: -600px;    /* Negative value to peek out */
    top: -600px;  /* Negative value to peek out */
    width: 67vw;    /* Responsive size */
    z-index: 0;
    pointer-events: none;
    user-select: none;
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.06);
        opacity: 0.92;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}