<section class="about-section section-general">
  <div class="about-mission-block">
    <h1 class="section-title">Notre mission</h1>
    <hr class="about-hr">
    <p class="about-mission">
        <br>
        Chez Esseral, notre mission est de vous aider à prendre la parole avec authenticité, en révélant l’essence unique de votre marque. Nous croyons qu’une communication sincère, cohérente et bien ancrée dans vos valeurs permet de bâtir des relations durables avec votre communauté.
        <br><br> 
        Nous privilégions une approche de croissance organique, stable et soutenue : parce qu’une marque forte ne se construit pas en imitant, mais en assumant ce qui la distingue. 
        <br><br>    
        Si vous avez lancé votre projet, c’est que vous avez quelque chose d’unique à offrir. <strong>Notre rôle est de le mettre en lumière.</strong>
    </p>
  </div>

  <div class="about-values-block">
    <div class="about-team-title">Nos valeurs</div>
    <hr class="about-hr">
    <p class="about-values">
        <br>
        <span style="color:#5149C9;">Authenticité&emsp;•</span> 
        <span style="color:#B818C9;">&emsp;Intégrité&emsp;•</span> 
        <span style="color:#CC3634;">&emsp;Croissance durable&emsp;•</span> 
        <span style="color:#CC6637;">&emsp;Communauté & solidarité</span>
        <br>
    </p>
  </div>

  <div class="about-team-title">Notre équipe</div>
  <hr class="about-hr">
  <div class="about-team-list">
  <div class="about-team-member">
    <img src="assets/images/Team/8.png" alt="Rebeca" class="equipe">
    <div class="about-team-info">
      <div class="about-member-header">
        <span class="about-member-name">Rebeca<br></span>
        <span class="about-member-role">Fondatrice & Stratège de communication</span>
      </div>
      <p class="about-member-desc">
        Rebeca est la fondatrice. Elle élabore les stratégies de communication avec rigueur et créativité. Diplômée en communication et relations publiques, elle aime mener les projets à terme. 
      </p>
      <div class="about-member-extra">        
        <div><strong>Éducation : </strong> Baccalauréat en communication et relations publiques & Certificat en immigration et relations interethniques, Université du Québec à Montréal</div>
        <div><strong>Langues parlées : </strong> Français, Espagnol, Anglais</div>
        <br>
        <a href="https://www.linkedin.com/in/rebeca-abigail-irazabal-toro-a621a6201/" target="_blank" aria-label="LinkedIn" class="linkedin-btn" matRipple>
          <img src="assets/images/buttons/icons8-linkedin-color/icons8-linkedin-240.png" alt="LinkedInLorena" />
        </a>
      </div>
    </div>
  </div>
  <div class="about-team-member">
    <img src="assets/images/Team/10.png" alt="Dominique" class="equipe">
    <div class="about-team-info">
      <div class="about-member-header">
        <span class="about-member-name">Dominique<br></span>
        <span class="about-member-role">Spécialiste des campagnes média avec nano/micro influenceurs et UCG</span>
      </div>
      <p class="about-member-desc">
        Dominique, diplômée en communication et relations publiques, déplace de l’air avec son charisme inégalé. Elle gère les relations humaines avec une aisance naturelle et une énergie contagieuse.
      </p>      
      <div class="about-member-extra">        
        <div><strong>Éducation : </strong> Baccalauréat en communication et relations publiques, Université du Québec à Montréal</div>
        <div><strong>Langues parlées : </strong> Français, Anglais</div>
        <br>
        <a href="https://www.linkedin.com/in/dominique-frappier-6008111a2/" target="_blank" aria-label="LinkedIn" class="linkedin-btn" matRipple>
          <img src="assets/images/buttons/icons8-linkedin-color/icons8-linkedin-240.png" alt="LinkedInDom" />
        </a>
      </div>
    </div>
  </div>
  <div class="about-team-member">
    <img src="assets/images/Team/12.png" alt="Lorena" class="equipe">
    <div class="about-team-info">
      <div class="about-member-header">
        <span class="about-member-name">Lorena<br></span>
        <span class="about-member-role">Gestionnaire des comptes & représentante hispanophone</span>
      </div>
      <p class="about-member-desc">
        Lorena, diplômée en communication avec une spécialisation en publicité et marketing, gère les dossiers avec diligence. Son souci du détail et son expérience font d’elle la personne idéale pour créer vos reels et traduire vos documents.
      </p>
      <div class="about-member-extra">        
        <div><strong>Éducation : </strong> Degré en Communication, Université de Lima</div>
        <div><strong>Langues parlées : </strong>Espagnol, Anglais, Français</div>
        <br>
        <a href="https://www.linkedin.com/in/lorena-chang-arana-6b3836a8/" target="_blank" aria-label="LinkedIn" class="linkedin-btn" matRipple>
          <img src="assets/images/buttons/icons8-linkedin-color/icons8-linkedin-240.png" alt="LinkedInLorena" />
        </a>
      </div>
    </div>
  </div>
</div>
<hr class="about-hr">
<a routerLink="/products" class="cta-btn" matRipple>Découvrez nos services!</a>
</section>