mat-card {
    margin: 20px;
    padding: 20px;
    background-color: rgba(29, 22, 22, 0.8); /* Opacité de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
  }

  .mat-card-left {
    margin-right: 30vh;
  }

  .mat-card-right{
    margin-left: 30vh;
  }

  .txt-highlight-bold {
    font-size: 1.5rem;
    font-weight: bolder;
    color: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(141,168,235,1) 40%, rgba(145,79,224,1) 60%, rgba(181,24,56,1) 100%);;
  }

  #home-content {
    min-width: 70%;
  }