<!DOCTYPE html>
<html>
    <head>
    <title>Esseral</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>    
        <div class="w3-black dm-serif-text-regular button-row">
            <section class="fixed-toolbar">
                <mat-toolbar class="header-toolbar" color="primary" style="width: 100%;">
                    <div class="mat-toolbar-row" style="justify-content: space-evenly;">
                        <span class="mat-toolbar-spacer"></span>
                            <a mat-button href="/" class="header-button" style="color: white;">ACCUEIL</a>
                            <a mat-button href="/about" class="header-button" style="color: white;">A PROPOS</a>
                            <a mat-button href="/"><p class="dm-serif-text-regular-italic" style="font-size: 24px;"> ESSERAL </p></a>
                            <a mat-button href="/products" class="header-button" style="color: white;">SERVICES</a>
                            <a mat-button href="/contact" class="header-button" style="color: white;">CONTACTEZ NOUS</a>
                        <span class="mat-toolbar-spacer"></span>
                    </div>
                </mat-toolbar>
            </section>
        </div>

        <router-outlet />

        <mat-divider></mat-divider>
        <footer class="w3-center w3-black w3-padding-48 w3-large">
            <p><a mat-button href="" style="color: white;">ESSERAL</a></p>
        </footer>
    </body>
</html>