.header-button  {
    padding-right: 15vh;
    padding-left: 15vh;
    border-radius: 5px;
    transition: font-size 0.2s ease-in-out, background-color 0.2s ease; /* Add transition here */        
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change this to your desired color */
    border-radius: 5px; /* Optional: Add some border radius for a smoother look */
    font-size: 1.1rem; /* Optional: Increase font size on hover */
}

.header-toolbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: none;    
}

.fixed-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.4); 
  }

