<!-- Header with image -->
<header class="w3-display-container" id="home">
  <div class="hero-content w3-display-middle w3-center">
    <img src="assets/images/Logo primaire/Logo_Esseral_primaire-beige.png" alt="Logo Esseral" class="logo">
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="dm-serif-text-regular-italic">Montréal</span>
  </div>
</header>
<br>

<section class="w3-content w3-padding-64" id="home-content">  
  <mat-card-header>Naviguez le monde avec authenticité</mat-card-header>
  <mat-card>
    <div id="about">    
      <div>
        <span>          
          <p>Votre unicité est votre plus grande force. Révélez votre essence, affirmez vos valeurs et structurez votre communication pour marquer les esprits. Découvrez notre accompagnement clé en main : pour vos lancements, pour renforcer votre présence en ligne et pour maximiser votre impact.</p>        
        </span>
      </div>
    </div>
  </mat-card>
</section>