<!-- Header with image -->
<header class="w3-display-container" id="home">
  <div class="hero-content w3-display-middle w3-center">
    <span class="dm-serif-text-regular-italic" style="font-size:90px">ESSERAL</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="dm-serif-text-regular-italic">Montréal</span>
  </div>
</header>
<br>

<section class="w3-content w3-padding-64" id="home-content">  
  <mat-card class="mat-card-left">
    <div class="w3-container w3-padding-128 w3-center" id="about">    
      <div class="w3-content w3-justify" style="max-width:700px">
        <span class="dm-serif-text-regular">          
          <p class="w3-large">Esseral vous aide à révéler l’essence de votre projet, à affirmer vos valeurs et à structurer votre communication pour marquer les esprits.</p>        
        </span>
      </div>
    </div>
  </mat-card>
  <mat-card class="mat-card-right">
    <div class="w3-container w3-padding-128 w3-center" id="about">    
      <div class="w3-content w3-justify" style="max-width:700px">
        <span class="dm-serif-text-regular">            
          <p class="w3-large">Avec un accompagnement clé en main ou à la carte, nous vous aidons à lancer ou à renforcer votre présence en ligne avec clarté et impact.</p>            
        </span>
      </div>
    </div>
  </mat-card>
    <div class="w3-container w3-padding-128 w3-center" id="about">    
      <div class="w3-content w3-justify">
        <span class="dm-serif-text-regular">
          <p class="txt-highlight-bold">Visez juste, engagez votre audience et bâtissez une communauté qui vous fera grandir!</p>
        </span>
      </div>
    </div>
</section>



