  header {    
    height: 75vh;    
    background-size: 100%;    
    background: #544AAF;
    background: linear-gradient(147deg,rgba(84, 74, 175, 1) 0%, rgba(204, 54, 52, 1) 33%, rgba(204, 102, 55, 1) 66%, rgba(170, 61, 167, 1) 100%);
  }
  
  /* Overlay en transparence par-dessus */
  header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.05); /* change l’opacité pour plus ou moins de fondu */
    z-index: 1;
  }
  
  /* Glow subtil autour du contenu */
  header::after {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.12) 0%, transparent 85%);
    mix-blend-mode: screen;
    z-index: 2;
    pointer-events: none;
  }
  
  .hero-content {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    top: 50%;
  }
  
  .hero-content img {
    font-size: 4rem;
    animation: pulse 10s ease-in-out infinite;
  }
  
  @keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  }

  mat-card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .mat-card-left {
    margin-right: 30vh;
  }

  .mat-card-right{
    margin-left: 30vh;
  }


  #home-content {
    min-width: 70%;
  }

  .logo {
    width: 40rem;
  }

  .marquee {
    width: 100vw;
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    box-sizing: border-box;
    color: #FFECE5;
    border-top: #FFECE5 solid 3px;
    border-bottom: #FFECE5 solid 3px;  
    font-size: 1.5rem;
    background: #544AAF;
    background: linear-gradient(323deg,rgba(84, 74, 175, 0.8) 0%, rgba(204, 54, 52, 0.8) 33%, rgba(204, 102, 55, 0.8) 66%, rgba(170, 61, 167, 0.8) 100%);
  }

  .marquee__inner {
    display: flex;
    width: max-content;
    animation: marquee 48s linear infinite;  
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }