<h3 class="section-title">Nos services</h3>

<section class="services-column w3-content w3-padding-64">

  <mat-card class="service-card with-video">
    <div class="card-content-wrapper">
      <video autoplay muted class="service-video">
        <source src="assets/animations/test2.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
      </video>      
      <mat-card-content class="service-text">
        Toute présence efficace sur les réseaux sociaux commence par une réflexion stratégique. À qui souhaitez-vous vraiment
        vous adresser ? Qui sont vos concurrents ? Quelle est l’essence même de votre marque - et vos mission, vision et 
        valeurs sont-elles clairement perceptibles ? Ensemble, posons les bonnes questions et élaborons une stratégie alignée, 
        authentique et percutante. Parlons stratégie !
      </mat-card-content>      
    </div>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Planification du calendrier de publication</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Ne laissez rien au hasard. Fréquence de publication, rédaction, ajout de liens, hashtags, identifications… chaque 
      élément est pensé avec précision pour garantir une présence en ligne cohérente et stratégique. Un calendrier de 
      publication aligné sur votre identité professionnelle renforce votre image de marque, accroît votre notoriété, 
      consolide votre crédibilité - et bien plus encore !
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Gestion de la communauté</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Au-delà du nombre d’abonnés, c’est l’engagement qui révèle le véritable potentiel de conversion. Comment montrer à 
      votre audience que vous êtes à l’écoute, bienveillant.e et authentique ? From strangers to friends - ensemble, créons 
      une communauté organique, engagée et fidèle à vos valeurs.
    </mat-card-content>
  </mat-card>

  <mat-card class="service-card">
    <mat-card-header>
      <mat-card-title>Création de contenu</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-card class="sub-service-card">
        <mat-card-header>
          <mat-card-title>Infolettre</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Bien dosée, l’infolettre devient un outil puissant : elle rassemble une communauté de personnes qui reçoivent 
          vos contenus en primeur, deviennent de véritables ambassadeur·rice·s et sont les premiers à s’engager lors de 
          vos lancements, webinaires, formations ou sondages. Chez Esseral, on vous encourage à penser autrement et à 
          créer vos propres règles, tout en sachant que l’infolettre reste un art précis, qui demande finesse et stratégie
        </mat-card-content>
      </mat-card>

      <mat-card class="sub-service-card">
        <mat-card-header>
          <mat-card-title>Photos et Reels</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Coulisses, processus en action, témoignages, capsules… Plusieurs formats s’offrent à vous pour mettre 
          en lumière votre univers, transmettre votre essence et créer une connexion authentique avec votre audience. 
          Ensemble, donnons vie à un contenu visuel qui vous ressemble — naturel, vibrant et stratégique.
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>

</section>
