<img src="assets/images/Assets_Esseral2.png" alt="color splash1" class="splash-img">
<img src="assets/images/Assets_Esseral2.png" alt="color splash2" class="splash-img2">

<section class="contact-section">
  <div class="contact-block">
    <h1 class="contact-title">Merci pour votre message!</h1>
    <hr class="contact-hr">
    <p class="contact-desc">
      Nous avons bien reçu votre demande et vous contacterons sous peu.<br>
      L’équipe Esseral
    </p>
    <a href="/" class="cta-btn" style="margin-top:2em;">Retour à l’accueil</a>
  </div>
</section>